{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>ALX-SE | BUDDIES</title>


</head>

<body>
  <header style="position: relative;">

    <div class="w3-top" class="header" id="home">
      <div class="w3-bar  w3-card w3-left-align w3-large heeder-large-screen" style="background-color: #000015;">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large "
          href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
            class="fa fa-bars"></i></a>
        <a href="#home" class="w3-bar-item w3-button w3-padding-large  w3-hover-black">ALX-BUDDIES</a>
        <div>
          <a href="#about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">About</a>
          <a href="#games" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"> Topics</a>
          <a href="#shop" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Members</a>
          <a href="#events" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Events</a>
          <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black">Contact</a>
        </div>

      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block  w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
        <a href="#games" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Games</a>
        <a href="#shop" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Shop</a>
        <a href="#events" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Events</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
      </div>
    </div>
  </header>
  <section>
    <div class="hero" id="about">
      <div class="hero-description">
        <div class="hero-text">
          <h1 class="hero-title">Software Engineers</h1>
          <p>
            This site is for more interactivity, in addition to our slack and whatsapp group!!
          </p>
          <span class="w3-text-white social" style="margin-top:050px">
            <p>Follow us on Social media</p>
            <div class="w3-margin-top">
              <a href="#"> <i class="fa fa-facebook-official w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-instagram w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-snapchat w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-pinterest-p w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-twitter w3-hover-opacity icons"></i></a>
              <a href="#"><i class="fa fa-linkedin w3-hover-opacity icons"></i></a>
            </div>
          </span>
        </div>
      </div>
    </div>
  </section>
  <main style="padding-bottom:40px ;">
    <h2 class="title" id="games">List of Topics So Far</h2>
    <div class="games">

      
      {% for topic in topics %}
      <a href="{% url 'topic' topic.id %}">
        <div class="game-list">
          <img src="{{ topic.image_url }}" alt=""
          style="width:100px; height: 100px; color: white;" />
          <h3>{{ topic.topics }}</h3>
          <p></p>
      
         </div>
      </a>
      {% endfor %}

      <!-- <div class="game-list">
        <img src="https://alx-study-buddies.w3spaces.com/github-svgrepo-com.svg" alt="playstation-brands"
          style="width:100px; height: 100px; color: white;" />
        <h3>Git/Github</h3>
        <p></p>
      </div>
      <div class="game-list">
        <img src="./img/shell-svgrepo-com.svg" alt="pacman" style="width:100px; height: 100px;" />
        <h3>SHELL</h3>
        <p></p>
      </div>
      <div class="game-list">
        <img src="./img/c-svgrepo-com.svg" alt="spiderman" style="width:100px; height: 100px;" />
        <h3>C Programming</h3>
        <p></p>
      </div>
      <div class="game-list">
        <img src="./img/gnuemacs-svgrepo-com.svg" alt="monster" style="width:100px; height: 100px;" />
        <h3>Emacs</h3>
        <p></p>
      </div>
      <div class="game-list">
        <img src="./img/vim-svgrepo-com.svg" alt="joker" style="width:100px; height: 100px;" />
        <h3>VI</h3>
        <p></p>
      </div> -->
      <!--<div class="game-list">
              <img src="img/halloween.svg" alt="halloween" style="width:100px; height: 100px;"/>
            <h3>Halloween</h3>
            <p></p>
          </div>-->


    </div>
    <div class="store" id="shop">
      <h2 class="title">Members</h2>
      {% for person in members %}
      <div class="game-store">
        <div class="game-store-list">
          <div class="game-image">
            {% if person.image %}
            <a href="{{ person.image.url }}" blank=True><img src="{{ person.image.url }}" /></a>
            {% endif %}
            <!-- https://source.unsplash.com/dbgbyzFR8uI -->
          </div>
          <div class="store-text-description">
            <h4 class="name">{{ person.first_name }}</h4>
            <div>
              <div class='speciality-header' style="text-align: center;">Speciality</div>

              {% for all in person.speciality.all %}
              <span class="speciality-tag">
                {{ all.speciality }}
              </span>
              {% endfor %}
            </div>

          </div>
          <!-- <span>$9</span> -->
        </div>


        {% empty %}

        <div class="game-store">

          <p style="color: #fff">NO ACTIVE MEMBERS</p>
        </div>


      </div>
        {% endfor %}


      
    </div>
    <div class="event" id="events">
      <h2 class="title">Upcoming Events</h2>

      <div class="event-hero" style="position: relative; ">


        <div class="event-text">
          <h2 class="badge" style=" background-color: orange; color:#000015 ;padding:10px"> Spiderman challenge | Sunday
            February 6 </h2>
          <h1 class="event-title">A world light-years beyond your imagination.</h1>


          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus earum omnis qui nobis a veritatis
            deserunt aspernatur vero corporis ipsa architecto, sapiente odit mollitia distinctio ut reprehenderit esse
            ad libero!</p>
          <h4>Save your place</h4>
          <div>
            <label id="icon" for="name">Name</label>
            <br>
            <input type="text" name="name" id="name" placeholder="Name" required />
            <br>
            <br>
            <label id="icon" for="name">Email</label>
            <br>
            <input type="text" name="name" id="name" placeholder="Email" required />

          </div>
          <button class="w3-btn w3-red w3-margin-top w3-round">Register</button>

        </div>
        <div class="event-image">
          <img src="img/king-lip-mp295uolfDs-unsplash-removebg-preview.png" alt="erik-mclean" />
        </div>

      </div>

    </div>
    <div>



  </main>


  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>
</body>

</html>